<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigear.wechat.dao.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.bigear.wechat.model.Carousel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="module_info_id" jdbcType="BIGINT" property="moduleInfoId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
  </resultMap>

  <select id="findByModuleInfoId" resultMap="BaseResultMap">
    select * from carousel where module_info_id = #{moduleInfoId}
  </select>
</mapper>