<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigear.wechat.dao.CustomerVoiceMapper">
  <resultMap id="BaseResultMap" type="com.bigear.wechat.model.CustomerVoice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ask_content" jdbcType="VARCHAR" property="askContent" />
    <result column="answer_content" jdbcType="VARCHAR" property="answerContent" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
  </resultMap>
</mapper>